<p id="notice"></p>
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>トラブル知らずのシステム設計
      </td>
      <td>システム設計の要点を図解で説明してくれます</td>
      <td>
        <a class="show_102380" href= "/books/102380">Show</a>
      </td>
      <td>
        <a class="edit_102380" href= "/books/102380/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_102380" rel="nofollow" deta-method="delete" href="/books/102380">Destroy</a>
      </td>
    </tr>

    <tr>
      <td>たのしいRuby</td>
      <td>Rubyの入門におすすめです</td>
      <td>
        <a class="show_102381" href= "/books/102381">Show</a>
      </td>
      <td>
        <a class="edit_102381" href= "/books/102381/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_102381" rel="nofollow" deta-method="delete" href="/books/102381">Destroy</a>
      </td>
    </tr>

    <tr>
      <td>入門Git</td>
      <td>gitについての基本操作から内部構造まで解説してくれます</td>
      <td>
        <a class="show_102382" href= "/books/102382">Show</a>
      </td>
      <td>
        <a class="edit_102382" href= "/books/102382/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_102382" rel="nofollow" deta-method="delete" href="/books/102382">Destroy</a>
      </td>
    </tr>

    <tr>
      <td>アルゴリズム図鑑</td>
      <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
      <td>
        <a class="show_102383" href= "/books/102383">Show</a>
      </td>
      <td>
        <a class="edit_102383" href= "/books/102383/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_102383" rel="nofollow" deta-method="delete" href="/books/102383">Destroy</a>
      </td>
    </tr>

    <tr>
      <td>達人プログラマー</td>
      <td>プログラマ入門者は必読！</td>
      <td>
        <a class="show_102384" href= "/books/102384">Show</a>
      </td>
      <td>
        <a class="edit_102384" href= "/books/102384/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_102384" rel="nofollow" deta-method="delete" href="/books/102384">Destroy</a>
      </td>
    </tr>
  </tbody>
</table>


<h2>New book</h2>

<%= form_with model: Book.new do |f| %>
<div class="field">
  <libel for= "book_title">Title</libel>

  <%= f.text_field :title %>
</div>


<div class="field">
  <libel for= "book_body">body</libel>

  <%= f.text_area :body %>
</div>

  <%= f.submit 'Create Book' %>
<% end %>