<p id="notice"></p>
<p>
  <strong>Title: </strong>

  <%= @book.title %>

</p>


<p>
  <strong>Body:</strong>

  <%= @book.body %>

</p>

<a class="edit_1" href="/books/1/edit">Edit</a>
<a>|</a>
<a class="back" href="/books">Back</a>
